<header>
  <div id="branding">
    <h1>Noe Dev</h1>
  </div>
  <nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <a routerLink="galerie" routerLinkActive="active">Ma Galerie</a>
    <a routerLink="jeux" routerLinkActive="active">Mes Jeux</a>
  </nav>
  <div id="connection">
    <p *ngIf="logged">connecté sur : {{user}}</p>
    <a (click)="deconnection()" *ngIf="logged">
      se déconnecter
    </a>
    <a routerLink="login" routerLinkActive="active" *ngIf="!logged">
      Se connecter
    </a>
  </div>
</header>