<div id="counter" class="container">
  <h1>Comptoir de Bar</h1>
  <button
    id="beerButton"
    (click)="moreBeers(); bierreAnimation($event)"
    class="btn btn-success mb-3"
  >
    +{{ user.clickValue }} Bières
  </button>
  <button
    (click)="upgradeClickValue()"
    class="btn mb-3"
    [class.btn-danger]="!isAffordable(this.userService.clickUpgradeCost())"
    [class.btn-primary]="isAffordable(this.userService.clickUpgradeCost())"
  >
    améliorer le clic: {{ this.userService.clickUpgradeCost() }} Bières
  </button>
</div>
