.alphabet-index {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Add vertical scroll if needed */
    background-color: #f0f0f0; /* optional background color */
    border: 1px solid #ccc; /* optional border */
}

.alphabet-index a {
    margin: 5px;
    text-decoration: none;
    color: #333; /* optional text color */
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .floating-button:hover {
    background-color: #0056b3;
  }
  
